
<div *ngIf="product">
    <h2><span jhiTranslate="occGatewayApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="occGatewayApp.product.code">Code</span></dt>
        <dd>
            <span>{{product.code}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.name">Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.desc">Desc</span></dt>
        <dd>
            <span>{{product.desc}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.price">Price</span></dt>
        <dd>
            <span>{{product.price}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.isEnabled">Is Enabled</span></dt>
        <dd>
            <span>{{product.isEnabled}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.version">Version</span></dt>
        <dd>
            <span>{{product.version}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.dr">Dr</span></dt>
        <dd>
            <span>{{product.dr}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.ts">Ts</span></dt>
        <dd>
            <span>{{product.ts | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.creator">Creator</span></dt>
        <dd>
            <span>{{product.creator}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.timeCreated">Time Created</span></dt>
        <dd>
            <span>{{product.timeCreated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.modifier">Modifier</span></dt>
        <dd>
            <span>{{product.modifier}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.timeModified">Time Modified</span></dt>
        <dd>
            <span>{{product.timeModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.product.productCategory">Product Category</span></dt>
        <dd>
            <div *ngIf="product.productCategoryId">
                <a [routerLink]="['/product-category', product.productCategoryId]">{{product.productCategoryName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
