
<div *ngIf="poPayment">
    <h2><span jhiTranslate="occGatewayApp.poPayment.detail.title">Po Payment</span> {{poPayment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="occGatewayApp.poPayment.amount">Amount</span></dt>
        <dd>
            <span>{{poPayment.amount}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.paymentSuccessful">Payment Successful</span></dt>
        <dd>
            <span>{{poPayment.paymentSuccessful}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.failedReason">Failed Reason</span></dt>
        <dd>
            <span>{{poPayment.failedReason}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.timePaid">Time Paid</span></dt>
        <dd>
            <span>{{poPayment.timePaid | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.version">Version</span></dt>
        <dd>
            <span>{{poPayment.version}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.dr">Dr</span></dt>
        <dd>
            <span>{{poPayment.dr}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.ts">Ts</span></dt>
        <dd>
            <span>{{poPayment.ts | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.creator">Creator</span></dt>
        <dd>
            <span>{{poPayment.creator}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.timeCreated">Time Created</span></dt>
        <dd>
            <span>{{poPayment.timeCreated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.modifier">Modifier</span></dt>
        <dd>
            <span>{{poPayment.modifier}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.timeModified">Time Modified</span></dt>
        <dd>
            <span>{{poPayment.timeModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poPayment.purchaseOrder">Purchase Order</span></dt>
        <dd>
            <div *ngIf="poPayment.purchaseOrderId">
                <a [routerLink]="['/purchase-order', poPayment.purchaseOrderId]">{{poPayment.purchaseOrderCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'po-payment/'+ poPayment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
