<div>
    <h2>
        <span jhiTranslate="occGatewayApp.poItem.home.title">Po Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-po-item" [routerLink]="['/', { outlets: { popup: ['po-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="occGatewayApp.poItem.home.createLabel">
            Create new Po Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="poItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productCategoryId"><span jhiTranslate="occGatewayApp.poItem.productCategoryId">Product Category Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productCategoryCode"><span jhiTranslate="occGatewayApp.poItem.productCategoryCode">Product Category Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productCategoryName"><span jhiTranslate="occGatewayApp.poItem.productCategoryName">Product Category Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="occGatewayApp.poItem.productId">Product Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productCode"><span jhiTranslate="occGatewayApp.poItem.productCode">Product Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="occGatewayApp.poItem.productName">Product Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="occGatewayApp.poItem.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="occGatewayApp.poItem.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="version"><span jhiTranslate="occGatewayApp.poItem.version">Version</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dr"><span jhiTranslate="occGatewayApp.poItem.dr">Dr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ts"><span jhiTranslate="occGatewayApp.poItem.ts">Ts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creator"><span jhiTranslate="occGatewayApp.poItem.creator">Creator</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeCreated"><span jhiTranslate="occGatewayApp.poItem.timeCreated">Time Created</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifier"><span jhiTranslate="occGatewayApp.poItem.modifier">Modifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeModified"><span jhiTranslate="occGatewayApp.poItem.timeModified">Time Modified</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="poItemStateName"><span jhiTranslate="occGatewayApp.poItem.poItemState">Po Item State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purchaseOrderCode"><span jhiTranslate="occGatewayApp.poItem.purchaseOrder">Purchase Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let poItem of poItems ;trackBy: trackId">
                <td><a [routerLink]="['../po-item', poItem.id ]">{{poItem.id}}</a></td>
                <td>{{poItem.productCategoryId}}</td>
                <td>{{poItem.productCategoryCode}}</td>
                <td>{{poItem.productCategoryName}}</td>
                <td>{{poItem.productId}}</td>
                <td>{{poItem.productCode}}</td>
                <td>{{poItem.productName}}</td>
                <td>{{poItem.price}}</td>
                <td>{{poItem.quantity}}</td>
                <td>{{poItem.version}}</td>
                <td>{{poItem.dr}}</td>
                <td>{{poItem.ts | date:'medium'}}</td>
                <td>{{poItem.creator}}</td>
                <td>{{poItem.timeCreated | date:'medium'}}</td>
                <td>{{poItem.modifier}}</td>
                <td>{{poItem.timeModified | date:'medium'}}</td>
                <td>
                    <div *ngIf="poItem.poItemStateId">
                        <a [routerLink]="['../po-state', poItem.poItemStateId  ]" >{{poItem.poItemStateName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="poItem.purchaseOrderId">
                        <a [routerLink]="['../purchase-order', poItem.purchaseOrderId  ]" >{{poItem.purchaseOrderCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../po-item', poItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'po-item/'+ poItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'po-item/'+ poItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="poItems && poItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
