
<div *ngIf="poItem">
    <h2><span jhiTranslate="occGatewayApp.poItem.detail.title">Po Item</span> {{poItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="occGatewayApp.poItem.productCategoryId">Product Category Id</span></dt>
        <dd>
            <span>{{poItem.productCategoryId}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.productCategoryCode">Product Category Code</span></dt>
        <dd>
            <span>{{poItem.productCategoryCode}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.productCategoryName">Product Category Name</span></dt>
        <dd>
            <span>{{poItem.productCategoryName}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.productId">Product Id</span></dt>
        <dd>
            <span>{{poItem.productId}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.productCode">Product Code</span></dt>
        <dd>
            <span>{{poItem.productCode}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.productName">Product Name</span></dt>
        <dd>
            <span>{{poItem.productName}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.price">Price</span></dt>
        <dd>
            <span>{{poItem.price}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.quantity">Quantity</span></dt>
        <dd>
            <span>{{poItem.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.version">Version</span></dt>
        <dd>
            <span>{{poItem.version}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.dr">Dr</span></dt>
        <dd>
            <span>{{poItem.dr}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.ts">Ts</span></dt>
        <dd>
            <span>{{poItem.ts | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.creator">Creator</span></dt>
        <dd>
            <span>{{poItem.creator}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.timeCreated">Time Created</span></dt>
        <dd>
            <span>{{poItem.timeCreated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.modifier">Modifier</span></dt>
        <dd>
            <span>{{poItem.modifier}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.timeModified">Time Modified</span></dt>
        <dd>
            <span>{{poItem.timeModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.poItemState">Po Item State</span></dt>
        <dd>
            <div *ngIf="poItem.poItemStateId">
                <a [routerLink]="['/po-state', poItem.poItemStateId]">{{poItem.poItemStateName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="occGatewayApp.poItem.purchaseOrder">Purchase Order</span></dt>
        <dd>
            <div *ngIf="poItem.purchaseOrderId">
                <a [routerLink]="['/purchase-order', poItem.purchaseOrderId]">{{poItem.purchaseOrderCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'po-item/'+ poItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
