<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPurchaseOrderLabel" jhiTranslate="occGatewayApp.purchaseOrder.home.createOrEditLabel">Create or edit a Purchase Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!purchaseOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="purchaseOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="purchaseOrder.code" maxlength="40"/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.orderDate" for="field_orderDate">Order Date</label>
            <div class="d-flex">
                <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" [(ngModel)]="purchaseOrder.orderDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.totalAmount" for="field_totalAmount">Total Amount</label>
            <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                [(ngModel)]="purchaseOrder.totalAmount" min="0"/>
            <div [hidden]="!(editForm.controls.totalAmount?.dirty && editForm.controls.totalAmount?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalAmount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalAmount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.customerId" for="field_customerId">Customer Id</label>
            <input type="text" class="form-control" name="customerId" id="field_customerId"
                [(ngModel)]="purchaseOrder.customerId" maxlength="40"/>
            <div [hidden]="!(editForm.controls.customerId?.dirty && editForm.controls.customerId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.customerId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.customerCode" for="field_customerCode">Customer Code</label>
            <input type="text" class="form-control" name="customerCode" id="field_customerCode"
                [(ngModel)]="purchaseOrder.customerCode" maxlength="40"/>
            <div [hidden]="!(editForm.controls.customerCode?.dirty && editForm.controls.customerCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.customerCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.customerName" for="field_customerName">Customer Name</label>
            <input type="text" class="form-control" name="customerName" id="field_customerName"
                [(ngModel)]="purchaseOrder.customerName" maxlength="40"/>
            <div [hidden]="!(editForm.controls.customerName?.dirty && editForm.controls.customerName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.customerName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.accountId" for="field_accountId">Account Id</label>
            <input type="text" class="form-control" name="accountId" id="field_accountId"
                [(ngModel)]="purchaseOrder.accountId" maxlength="40"/>
            <div [hidden]="!(editForm.controls.accountId?.dirty && editForm.controls.accountId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.accountCode" for="field_accountCode">Account Code</label>
            <input type="text" class="form-control" name="accountCode" id="field_accountCode"
                [(ngModel)]="purchaseOrder.accountCode" maxlength="40"/>
            <div [hidden]="!(editForm.controls.accountCode?.dirty && editForm.controls.accountCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.accountName" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                [(ngModel)]="purchaseOrder.accountName" maxlength="40"/>
            <div [hidden]="!(editForm.controls.accountName?.dirty && editForm.controls.accountName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                [(ngModel)]="purchaseOrder.version" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.dr" for="field_dr">Dr</label>
            <input type="number" class="form-control" name="dr" id="field_dr"
                [(ngModel)]="purchaseOrder.dr" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.ts" for="field_ts">Ts</label>
            <div class="d-flex">
                <input id="field_ts" type="datetime-local" class="form-control" name="ts" [(ngModel)]="purchaseOrder.ts"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.creator" for="field_creator">Creator</label>
            <input type="text" class="form-control" name="creator" id="field_creator"
                [(ngModel)]="purchaseOrder.creator" maxlength="40"/>
            <div [hidden]="!(editForm.controls.creator?.dirty && editForm.controls.creator?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creator?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.timeCreated" for="field_timeCreated">Time Created</label>
            <div class="d-flex">
                <input id="field_timeCreated" type="datetime-local" class="form-control" name="timeCreated" [(ngModel)]="purchaseOrder.timeCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.modifier" for="field_modifier">Modifier</label>
            <input type="text" class="form-control" name="modifier" id="field_modifier"
                [(ngModel)]="purchaseOrder.modifier" maxlength="40"/>
            <div [hidden]="!(editForm.controls.modifier?.dirty && editForm.controls.modifier?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modifier?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.timeModified" for="field_timeModified">Time Modified</label>
            <div class="d-flex">
                <input id="field_timeModified" type="datetime-local" class="form-control" name="timeModified" [(ngModel)]="purchaseOrder.timeModified"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.poType" for="field_poType">Po Type</label>
            <select class="form-control" id="field_poType" name="poType" [(ngModel)]="purchaseOrder.poTypeId"  required>
                <option *ngIf="!editForm.value.poType" [ngValue]="null" selected></option>
                <option [ngValue]="poTypeOption.id" *ngFor="let poTypeOption of potypes; trackBy: trackPoTypeById">{{poTypeOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.poType?.dirty && editForm.controls.poType?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.poType?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.purchaseOrder.poState" for="field_poState">Po State</label>
            <select class="form-control" id="field_poState" name="poState" [(ngModel)]="purchaseOrder.poStateId"  required>
                <option *ngIf="!editForm.value.poState" [ngValue]="null" selected></option>
                <option [ngValue]="poStateOption.id" *ngFor="let poStateOption of postates; trackBy: trackPoStateById">{{poStateOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.poState?.dirty && editForm.controls.poState?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.poState?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
