<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLockLogLabel" jhiTranslate="occGatewayApp.lockLog.home.createOrEditLabel">Create or edit a Lock Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lockLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lockLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.lockedQuantity" for="field_lockedQuantity">Locked Quantity</label>
            <input type="number" class="form-control" name="lockedQuantity" id="field_lockedQuantity"
                [(ngModel)]="lockLog.lockedQuantity" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                [(ngModel)]="lockLog.version" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.dr" for="field_dr">Dr</label>
            <input type="number" class="form-control" name="dr" id="field_dr"
                [(ngModel)]="lockLog.dr" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.ts" for="field_ts">Ts</label>
            <div class="d-flex">
                <input id="field_ts" type="datetime-local" class="form-control" name="ts" [(ngModel)]="lockLog.ts"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.creator" for="field_creator">Creator</label>
            <input type="text" class="form-control" name="creator" id="field_creator"
                [(ngModel)]="lockLog.creator" maxlength="40"/>
            <div [hidden]="!(editForm.controls.creator?.dirty && editForm.controls.creator?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creator?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.timeCreated" for="field_timeCreated">Time Created</label>
            <div class="d-flex">
                <input id="field_timeCreated" type="datetime-local" class="form-control" name="timeCreated" [(ngModel)]="lockLog.timeCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.modifier" for="field_modifier">Modifier</label>
            <input type="text" class="form-control" name="modifier" id="field_modifier"
                [(ngModel)]="lockLog.modifier" maxlength="40"/>
            <div [hidden]="!(editForm.controls.modifier?.dirty && editForm.controls.modifier?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modifier?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.timeModified" for="field_timeModified">Time Modified</label>
            <div class="d-flex">
                <input id="field_timeModified" type="datetime-local" class="form-control" name="timeModified" [(ngModel)]="lockLog.timeModified"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="occGatewayApp.lockLog.inventory" for="field_inventory">Inventory</label>
            <select class="form-control" id="field_inventory" name="inventory" [(ngModel)]="lockLog.inventoryId"  required>
                <option *ngIf="!editForm.value.inventory" [ngValue]="null" selected></option>
                <option [ngValue]="inventoryOption.id" *ngFor="let inventoryOption of inventories; trackBy: trackInventoryById">{{inventoryOption.productName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.inventory?.dirty && editForm.controls.inventory?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.inventory?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
