<div>
    <h2>
        <span jhiTranslate="occGatewayApp.lockLog.home.title">Lock Logs</span>
        <button class="btn btn-primary float-right jh-create-entity create-lock-log" [routerLink]="['/', { outlets: { popup: ['lock-log-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="occGatewayApp.lockLog.home.createLabel">
            Create new Lock Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lockLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lockedQuantity"><span jhiTranslate="occGatewayApp.lockLog.lockedQuantity">Locked Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="version"><span jhiTranslate="occGatewayApp.lockLog.version">Version</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dr"><span jhiTranslate="occGatewayApp.lockLog.dr">Dr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ts"><span jhiTranslate="occGatewayApp.lockLog.ts">Ts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creator"><span jhiTranslate="occGatewayApp.lockLog.creator">Creator</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeCreated"><span jhiTranslate="occGatewayApp.lockLog.timeCreated">Time Created</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifier"><span jhiTranslate="occGatewayApp.lockLog.modifier">Modifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeModified"><span jhiTranslate="occGatewayApp.lockLog.timeModified">Time Modified</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inventoryProductName"><span jhiTranslate="occGatewayApp.lockLog.inventory">Inventory</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lockLog of lockLogs ;trackBy: trackId">
                <td><a [routerLink]="['../lock-log', lockLog.id ]">{{lockLog.id}}</a></td>
                <td>{{lockLog.lockedQuantity}}</td>
                <td>{{lockLog.version}}</td>
                <td>{{lockLog.dr}}</td>
                <td>{{lockLog.ts | date:'medium'}}</td>
                <td>{{lockLog.creator}}</td>
                <td>{{lockLog.timeCreated | date:'medium'}}</td>
                <td>{{lockLog.modifier}}</td>
                <td>{{lockLog.timeModified | date:'medium'}}</td>
                <td>
                    <div *ngIf="lockLog.inventoryId">
                        <a [routerLink]="['../inventory', lockLog.inventoryId  ]" >{{lockLog.inventoryProductName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lock-log', lockLog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lock-log/'+ lockLog.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lock-log/'+ lockLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lockLogs && lockLogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
