<div>
    <h2>
        <span jhiTranslate="occGatewayApp.operationType.home.title">Operation Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-operation-type" [routerLink]="['/', { outlets: { popup: ['operation-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="occGatewayApp.operationType.home.createLabel">
            Create new Operation Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="operationTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="occGatewayApp.operationType.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="occGatewayApp.operationType.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desc"><span jhiTranslate="occGatewayApp.operationType.desc">Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isEnabled"><span jhiTranslate="occGatewayApp.operationType.isEnabled">Is Enabled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="version"><span jhiTranslate="occGatewayApp.operationType.version">Version</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dr"><span jhiTranslate="occGatewayApp.operationType.dr">Dr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ts"><span jhiTranslate="occGatewayApp.operationType.ts">Ts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creator"><span jhiTranslate="occGatewayApp.operationType.creator">Creator</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeCreated"><span jhiTranslate="occGatewayApp.operationType.timeCreated">Time Created</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifier"><span jhiTranslate="occGatewayApp.operationType.modifier">Modifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeModified"><span jhiTranslate="occGatewayApp.operationType.timeModified">Time Modified</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operationType of operationTypes ;trackBy: trackId">
                <td><a [routerLink]="['../operation-type', operationType.id ]">{{operationType.id}}</a></td>
                <td>{{operationType.code}}</td>
                <td>{{operationType.name}}</td>
                <td>{{operationType.desc}}</td>
                <td>{{operationType.isEnabled}}</td>
                <td>{{operationType.version}}</td>
                <td>{{operationType.dr}}</td>
                <td>{{operationType.ts | date:'medium'}}</td>
                <td>{{operationType.creator}}</td>
                <td>{{operationType.timeCreated | date:'medium'}}</td>
                <td>{{operationType.modifier}}</td>
                <td>{{operationType.timeModified | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../operation-type', operationType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operation-type/'+ operationType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operation-type/'+ operationType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="operationTypes && operationTypes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
